body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.todo-container {
    max-width: 300px;
    margin: auto;
}
#error-message {
    color: red;
}
#btn {
    padding: 10px;
    cursor: pointer;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
